---
import { formats, type Format } from '../content/lib/formats.ts';
import ParameterLayout from './parameter_layout.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  of: keyof typeof formats;
}

const { of, ...props } = Astro.props;
const format: Format = formats[of];
---

<div {...props}>
  <table>
    <tbody>
      {format.parameters.map((param) => (
        <ParameterLayout parameter={param} />
      ))}
    </tbody>
  </table>
</div>
